<script>
    import { onMount } from 'svelte';
    import { DateTime } from 'luxon';

    import { getCurrentTimetableDayRange } from '../date_utils.js';
    import { formatBusID } from '../vehicleref_utils.js';

    export let currentRoute;

    // This is for sorting line names
    const collator = new Intl.Collator(undefined, {numeric: true, sensitivity: 'base'});

    let timerange = getCurrentTimetableDayRange();

    let fetchPromise = fetch(`/api/trips/${Math.floor(timerange.start.toSeconds())}/${Math.floor(timerange.end.toSeconds())}`)
            .then(async (response) => {
                if (response.status === 200) { return await response.json()}
                else { throw Error("server error"); }
            })
            .then(sortResponseList);
        
    function sortResponseList(response) {
        const linerefs = response.map((r) => r.lineref).filter((v, i, a) => a.indexOf(v) === i);
        const sorted_response = linerefs.reduce((o, lineref) => ({ ...o, [lineref]: sortLine(response, lineref)}), {});
        console.log(sorted_response);
        return sorted_response;
    }

    function sortLine(response, lineref) {
        const trips = response.filter((r) => r.lineref === lineref);
        const directionrefs = trips.map((r) => r.directionref).filter((v, i, a) => a.indexOf(v) === i);
        const sorted_response = directionrefs.reduce((o, directionref) => ({ ...o, [directionref]: trips.filter((t) => t.directionref === directionref)}), {});
        return sorted_response;
    }

    function formatTimestamp(ts) {
        return DateTime.fromSeconds(parseInt(ts)).toLocaleString(DateTime.TIME_24_WITH_SECONDS);
    }
</script>

<style>
table {
    border-collapse: collapse;
}
td, th {
    padding: 0.5em;
}
</style>

{#await fetchPromise}
loading...
{:then response}
    {#each Object.entries(response).sort((a,b)=>collator.compare(a[0],b[0])) as [lineref, line]}
        <h2>{lineref}</h2>
        {#each Object.entries(line).sort((a,b)=>collator.compare(a[0],b[0])) as [directionref, trips]}
            <h3>direction {directionref}</h3>
            <table>
                <tr>
                    <th></th>
                    <th colspan="2">Aikataulu</th>
                    <th colspan="2">Todellinen</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Ajoneuvo</th>
                    <th>Lähtöaika</th>
                    <th>Saapumisaika</th>
                    <th>Lähtöaika</th>
                    <th>Saapumisaika</th>
                    <th>Tripref</th>
                </tr>
                {#each trips as trip}
                    <tr>
                        <td>{formatBusID(trip.vehicleref)}</td>
                        <td>{formatTimestamp(trip.originaimeddeparturetime)}</td>
                        <td>{formatTimestamp(trip.destinationaimedarrivaltime)}</td>
                        <td>{formatTimestamp(trip.observedstarttime)}</td>
                        <td>{#if trip.observedendtime === null}
                            ...
                        {:else}
                            {formatTimestamp(trip.observedendtime)}
                        {/if}</td>
                        <td>{trip.tripref}</td>
                    </tr>
                {/each}
            </table>
        {/each}
    {/each}
{:catch e}
    {e}
{/await}