<script>
	import { Router } from 'svelte-router-spa'
	import { routes } from './routes'
	import Map from './Map.svelte';
</script>

<Router {routes} />
<!--<Map lat={60.45} lon={22.27} zoom={11}>
</Map>-->